<!DOCTYPE html>
<html>
  <head>
    <title>Ruckkus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
        <script src="https://kit.fontawesome.com/94ce68f126.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/x-icon" href="https://ruckkus.herokuapp.com/assets/discord-v2-ae388418ffaf4776e89ec40969a91810d5ef6b000ab8411cb53ce335638c990a.svg?">
        <script type="text/javascript">
          window.private_server = "<%= image_url('private_server.png') %>";
           window.public_server = "<%= image_url('public_server.png') %>";
            window.server_create = "<%= image_url('server_create.png') %>";
             window.server_modal_arrow = "<%= image_url('server_modal_arrow.png') %>";
            window.default = "<%= image_url('default.png') %>";

        </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
